@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ant */

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background-main {
  background: #fff;
  height: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
  padding: 10px;
  margin: 10px 40px 0 40px;
  min-height: 360px;
}

.ant-table-thead.tr.th {
  background: #f1f7ff;
}

.ant-divider-horizontal {
  margin: 0 0;
}

.ant-layout-header {
  background: #ffff;
}

.ant-input-group > .ant-input:first-child,
.ant-input-group-addon:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

button.ant-btn.add {
  border-radius: 6px;
  background-color: #2A9D8F;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  height: 40px;
  text-align: center;
  padding: 10px;
}

button.ant-btn.back {
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  color: #2A9D8F;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  border: 2px solid #2A9D8F;
  height: 40px;
  text-align: center;
}

h4.ant-typography {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: none;
  color: #2A9D8F;
}

h3.ant-typography {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600px;
  line-height: 140%;
}

.ant-card {
  border-radius: 16px;
  box-shadow: 0px 4px 15px rgba(20, 82, 178, 0.07);
}

span.ant-tag {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  line-height: 140%;
  border-radius: 14px;
  border: 0px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  text-transform: none;
  white-space: break-spaces;
}

span.ant-tag.yellow {
  color: #765f01;
  background: #fff3c4;
}

span.ant-tag.green {
  background: #b2f1bd;
  color: #12541d;
}

span.ant-tag.red {
  background: #ffdfdd;
  color: #8e0800;
}

span.ant-tag.purple {
  background: #dad7fe;
}

span.ant-tag.skin {
  background: #ffe5d3;
}

span.ant-tag.tea {
  background: #e2fbd7;
}

input.ant-input {
  height: 40px;
  border-radius: 6px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  min-height: 40px;
  border-radius: 6px;
}

.ant-input-number {
  border-radius: 6px;
  height: 40px;
}

textarea.ant-input {
  border-radius: 6px;
}

.ant-upload.ant-upload-drag {
  border-radius: 6px !important;
}

button.ant-btn.ant-btn-icon-only.ant-input-search-button {
  height: 40px;
}

th.ant-table-cell {
  text-align: center !important;
  max-width: max-content !important;
  background-color: #f1f7ff;
}

td.ant-table-cell {
  text-align: center !important;
  max-width: 100px !important;
}

.invisible {
  visibility: hidden;
}

td.ant-table-cell.sub {
  vertical-align: baseline;
}

.ant-table.sub-table {
  background: none;
}

.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  padding: 0 0 4px;
}
.ant-col.ant-col-6.ant-form-item-label {
  max-width: 100%;
}

.ant-upload.ant-upload-drag .ant-upload {
  padding: 5px 0;
}

.ant-picker {
  width: 100%;
  height: 40px;
  border-radius: 6px;
}

label.ant-form-item-required {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}
.ant-form-item {
  margin-bottom: 0 !important;
}
label {
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 140% !important;
  color: #333333 !important;
}

.ant-picker-content {
  table-layout: auto !important;
}

ul.events {
  overflow-x: hidden;
  margin-right: 30px;
}

.ant-picker-cell-inner.ant-picker-calendar-date {
  max-width: 500px;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #184a97;
}

.site-drawer-render-in-current-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.dropdown {
  min-width: 300px !important;
  max-width: 300px;
  overflow-x: hidden;
  background-color: grey;
  /* min-height: 500px; */
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}
.ant-modal-content {
  border-radius: 10px;
}
.ant-modal-header {
  border-radius: 10px 10px 0 0;
}
.css-yk16xz-control {
  height: 40px;
  border-radius: 6px !important;
}
label {
  color: #6e6e6e !important;
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 140% !important;
}

p.special {
  font-family: Open Sans !important;
  color: #000000 !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 140% !important;
}
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #184a97;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
h1.ant-typography,
.ant-modal-title {
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 140% !important;
}
p.ncc_label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 10px;
  color: #828282;
}

span.ncc_content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 100%;
  color: black;
}

.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  text-transform: uppercase;
}

.ant-drawer-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  text-transform: uppercase;
}


a:hover {
    text-decoration: none !important;
}

h4.ant-typography {
    margin-top: 20px;
}

.normalLabel{
  color: #017567 !important;
}

.ant-upload.ant-upload-select.ant-upload-select-picture {
  width: 100%;
}

/* button.ant-btn {
  padding: 0 0 0 0;
} */

td{
  max-width: 80px;
}

span.ant-tag.edit-tag {
  width: auto;
}

span.ant-tag.site-tag-plus {
  width: auto;
}


.event-card-container .ant-card.ant-card-bordered.ant-card-hoverable {
  overflow-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
}

.eventCard .ant-row {
  margin-top: 10px;
}

.eventCard span.anticon {
  margin-right: 10px;
}

.eventCard span.anticon.eventCardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eventCard .cover{
  object-fit: cover;
  max-width: 350px;
  max-width: 200px;
  margin: auto;
}



.eventCard .ant-avatar-group {
  margin-left: auto !important;
}

@media (max-width: 1400px) {
  .eventCard span.anticon.eventCardFooter {
    display: flex;
    flex-direction: column;
  }
  .eventCard .ant-avatar-group {
    margin-left: unset;
  }
}



.event-detail-user-container {
  display: flex;
  flex-direction: row;
  background-color: #F5F7FF;
  border-radius: 6px;
  align-items: center;
  padding-left: 10px;
}

button.ant-btn.event-detail-user {
  margin-left: auto;
  border-radius: 6px;
  height: 40px;
}

.ant-col.event-detail {
  padding: 20px;
}

span.anticon.event-detail {
  margin-right: 10px;
}

span.anticon.event-detail.right {
  margin-left: auto;
}

.event-detail-time-date-address {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
  color: #264653;
}

.event-detail h2.ant-typography {
  color: #2A9D8F;
}

.ant-tabs-tab{
  color: #2A9D8F;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background: #2A9D8F;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #2A9D8F;
}

h4.ant-typography.event-detail-title {
  margin-top: 10px;
  color: #2A9D8F !important;
}
.event-detail h4.ant-typography {
  margin-top: 10px;
  color: #AAB0B6;
}

span.ant-tag.event-detail-status {
  width: 25%;
  color: white;
  background-color: #DF5533;
}


.flex-container-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-container-column{
  display: flex;
  flex-direction: column;
}

.flex-row-item-right{
  margin-left: auto;
}

.script-item-container{
  border: 1px solid #949494;
  border-radius: 6px;
  padding: 10px;
  word-break: break-word;
  margin-top: 20px;
}

.add-btn-scripdetail{
  border: 1px dashed #2A9D8F;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  font-size: 40px;
  color: #2A9D8F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination-item-active a {
  color: #2A9D8F;
}

.ant-pagination-item-active {
  border-color: #2A9D8F;
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
  border-color: #2A9D8F;
  color: #2A9D8F;
}
/* ///////////////////////////////////// */
.img-chat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.sent .chat-message {
  color: white;
  background: #2A9D8F;
  align-self: flex-end;
}
.received .chat-message {
  background: #e5e5ea;
  color: black;
}

.message {
  display: flex;
}


.sent {
  flex-direction: row-reverse;
}

ul, li {
  text-align: left;
  list-style: none;
}

.chat-message {
  max-width: 200px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}
.chat-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-radius: 16px;
}

.chat-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 16px;
  background-color: white;

}

.input-chat {
  width: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 16px;
}

.input-chat:focus {
  outline: none;
}


.chat-form {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  border-radius: 16px;
  border: 1px solid black;
}



.ChatBox {
  max-height: 670px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.section {
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}


.loading {
  position: fixed;
  z-index: 1001;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}


.pagination{
  margin-top: 20px;
}

.event-card-container{
  width: 100%;
  max-width: 600px;
  padding: 20px;
  padding-top: unset !important;
}

.add-action-container .ant-steps.ant-steps-horizontal.ant-steps-label-horizontal {
  margin: auto;
  max-width: 50% !important;
}

.form .ant-col {
  padding: 5px;
}

p {
  margin-top: unset;
  margin-bottom: unset;
}

.vl {
  border-left: 2px solid grey;
  position: absolute;
  left: -15px;
  bottom: 0;
  height: 50%;
}

.resource-card{
  border: 1px solid grey;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;
  word-break: break-all;
}

.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button.ant-btn.flex-row-item-right.no-border {
  border: none;
}

/* .ant-tabs.ant-tabs-top {
  height: 100%;
} */

.chat-tabs{
  height: 100%;
}

.chat-tabs .ant-tabs-content.ant-tabs-content-top {
  height: 100%;
}

.event-form .ant-row .event-col{
  padding: 10px;
}


button.ant-btn {
  height: 40px;
  border-radius: 6px;
}

.ant-table {
  overflow-y: auto;
}

.status-event-card{
  /* padding: 10px 0 0 0;
  padding-left: 20px; */
  padding: 10px;
  padding-left: 30px;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background-color: white;
}
.status-event-row .ant-col{
  padding: 10px;
}

.status-event-card .status-event-number{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 140%;
    /* or 78px */

    text-align: center;

    /* Secondary */

    color: #264653;
}

.status-event-card .status-event-info{
  margin-left: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  
  
  /* Secondary */
  
  color: #264653;
}

.event-mini-card-container{
  border-radius: 16px;
}

.event-mini-card-container .ant-row {
  margin-top: 10px;
}

.event-mini-card-container span.anticon {
  margin-right: 10px;
}

.event-mini-card-container span.anticon.eventCardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.event-mini-card-container img{
  text-align: center;
  max-width: 150px;
}

.status-tag{
  background: #DF5533;
  border-radius: 14px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: fit-content !important;
  padding: 5px 15px !important;
}

.ant-carousel .slick-dots-bottom {
  bottom: -20px;
} 


.home-list-action {
  background-color: white;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  min-height: 380px;
}

.calender-section{
  background-color: white;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 20px;
  height: 100%;
}

.calender-section .ant-picker-panel{
  width: 100%;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: #2A9D8F;
  border-radius: 20px;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-radius: 20px !important;
}


.vl-sub-action {
  border-left: 4px solid #E76F51;
  border-radius: 12px;
  bottom: 0;
  min-height: 80px;
}

.vl-action {
  border-left: 4px solid #264653;
  border-radius: 12px;
  bottom: 0;
  min-height: 80px;
}

.calendar-sub-action .title{
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  /* margin-bottom: 6px; */
  /* identical to box height */
}

.calendar-sub-action{
  padding: 10px 5px;
  width: 100%;
  /* border-top: 0.5px solid #828282; */
}

.calender-subaction-section{
  max-height: 310px;
  /* max-height: 300px; */
  overflow-y: auto;
  overflow-x: hidden;
}

.calendar-sub-action a{
  color: black;
  width: 100%;
}

.ant-layout-header{
  line-height: normal;
}

span.ant-badge.ant-dropdown-trigger {
  margin-right: 20px;
}

#button-account{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
  border: none;
}


.ant-dropdown::before {
  top: unset !important;
}

.home{
  /* margin: 20px 20px; */
  margin: 0 30px 0 30px;
}

.home a{
  color: #868686;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}

#home-link-in-card{
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #264653;
}

h3.ant-typography{
  color: #264653;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  font-style: normal;
}

#home-top-header{
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #2A9D8F !important;
}

.ant-layout {
  background: #F6F7F8;
}

h3.ant-typography.logo{
  text-align: center;
  margin-top: 15px;
  color: black;
  
  line-height: 50px;
  vertical-align: top;
}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
  background-color: white !important;
}


/* sider */
.ant-menu-item{
  height: 60px !important;
  padding-top: 10px !important;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover, .ant-menu-item-selected span.anticon.ant-menu-item-icon {
  font-weight: bold;
  font-size: 26px;
  color: #2A9D8F !important;
  vertical-align: middle;
}

.ant-menu-item a , .ant-menu-item span.anticon.ant-menu-item-icon{
  font-weight: bold;
  font-size: 26px;
  vertical-align: middle;
  color: grey ;
}

.ant-menu-item-active span.anticon.ant-menu-item-icon{
  color: #2A9D8F;
}

.ant-menu-item a:hover, .ant-menu-item a:hover .ant-menu-item-selected span.anticon.ant-menu-item-icon {
  vertical-align: middle;
  color: #2A9D8F;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
  border-right: 3px solid #2A9D8F;
}

/* menu trigger */
.ant-layout-sider-trigger {
  background: #2A9D8F;
}

/* sub menu */
.ant-menu-submenu-title{
  font-weight: bold;
  font-size: 20px;
  vertical-align: top;
  color: grey ;
}
.ant-menu-submenu-title:hover{
  font-weight: bold;
  font-size: 20px;
  vertical-align: top;
  color: #2A9D8F ;
}

li.ant-menu-item.ant-menu-item-only-child a{
  font-size: 15px;
}

.event-mini-card-container .ant-card-body{
  padding: 10px;
}


label.ant-form-item-required {
  color: #017567 !important;
}
label {
  color: #017567 !important;
}

.black-2{
  color: #001529 !important;
  font-size: 14px;
  font-weight: 600;
}

.action-details, .action-details a{
  color: #868686;
  font-weight: 500;
  /* font-size: 14px; */
  line-height: 120%;
}

.scripts .ant-table table{
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  border-spacing: 10px;
}

.scripts td.ant-table-cell {
  text-align: unset !important;
}

.scripts h2.ant-typography,.scripts .ant-typography h2{
  font-size: 20px;
}

.add-scripts h3.ant-typography{
  color: #2A9D8F;
}


.script-item-container h5.ant-typography{
  color: #2A9D8F;
  padding: 10px 0;
  margin-bottom: unset !important;
}

.script-item-container .input-disable{
  padding: 10px;
  background: #DFDFDF;
  color: #264653;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}

.ant-timeline.ant-timeline-label .ant-timeline-item-label {
  text-align: left;
}

.timeline-name{
  font-size: 17px;
  color: #264653;
  font-weight: 600;
  margin-top: 5px;
}

.ant-timeline-item-head-blue {
  color: #2A9D8F;
  background-color: #2A9D8F;
  border-color: #2A9D8F;
}

.ant-timeline-item {
  padding-bottom: 50px;
}

.timeline-container{
  height: 100%;
  padding: 20px;
  border: 1px solid #AAB0B6;
  border-radius: 8px;
}

.checkbox span{
  color: #000000;
}

.ant-spin-dot-item {
  background-color: #2A9D8F;
}

.sidepanel  {
  width: 35%;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidepanel a {
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  /* position: absolute; */
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  color: #2A9D8F;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.openbtn:hover {
  background-color:#2A9D8F;
  color: #fff;
}

.video-container{
  position: relative;
  padding: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  background-color: #444;
  
}


.styled-video{
  height: 40%;
  width: 50%;
}


.video-controller {
  width: fit-content;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.video-container:hover .video-controller {
  visibility: visible;
}


.red-slash{
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  height: 0;
  border-top: 2px solid red;
  transform: rotate(-38deg);
  top: 50%;
}

.action-select-event{
  border-radius: 6px;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.08);
}

.flex-container-column .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: unset;
}


.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
 background-color:  #2A9D8F !important;
}

.scrips-view .ant-steps-item-finish .ant-steps-item-icon {
  border-color: #2A9D8F;
}

.scrips-view svg{
  fill:#2A9D8F;
}

.scrips-view .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title  {
  color: #2A9D8F !important;
}
.scrips-view .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title  {
  color: #2A9D8F !important;
  font-weight: bold;
}
.scrips-view .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
  /* color: #2A9D8F !important; */
  font-weight: bold;
  font-size: large;
}



.list-events-col{
  padding: 20px;
}

.list-events-col-data{ 
  max-height: 73vh;
}

.list-events-col-data{
  overflow: scroll;
  overflow-x: hidden;
}
.list-events-col-data::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.list-events-col-data::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.list-actions-col-data{ 
  max-height: 65vh;
}

.list-actions-col-data{
  overflow: scroll;
  overflow-x: hidden;
}
.list-actions-col-data::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.list-actions-col-data::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.eventCard a{
  color: black !important;
}

